<app-header></app-header>
<mat-sidenav-container class="example-container" id="menuSideNavContainer">
    <mat-sidenav id="menuSidenav" #sidenav mode="side" [(opened)]="opened">
        <!-- <mat-toolbar class="md-theme-indigo" layout="row">
                    <h1 class="md-toolbar-tools">Sidenav Left</h1>
                  </mat-toolbar> -->
        <button id="btnMenuToggle" class="hamburger-menu" (click)="sidenav.toggle()">
            <i [ngClass]="{'fa':true,'fa-chevron-right':!opened,'fa-chevron-left':opened}" aria-hidden="true"></i>
        </button>
        <ul class="side-menu-list">
            <li>
                <a href="javascript:void(0)" (click)="navigateToUrl('/home/datapreparation')">
                    <span class="menu-icon menu-icon1"></span> Data Preparation</a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="navigateToUrl('/home/models')">
                    <span class="menu-icon menu-icon2"></span> Models</a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="navigateToUrl('/home/users')">
                    <span class="menu-icon menu-icon3"></span> Users</a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="navigateToUrl('/home/notifications')">
                    <span class="menu-icon menu-icon4"></span> Notifications</a>
            </li>
            <li>
                <a href="javascript:void(0)" (click)="navigateToUrl('/home/settings')">
                    <span class="menu-icon menu-icon5"></span> Settings</a>
            </li>
        </ul>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="">Home</a>
                    </li>
                    <li [ngClass]="{'breadcrumb-item':true,'active':last}" *ngFor="let breadcrumb of breadcrumbs; let last=last;">
                        <a [routerLink]="[breadcrumb.url, breadcrumb.params]">{{ breadcrumb.label }}</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="slim-mainpanel">
            <div class="container">
                <div class="slim-pageheader" *ngIf="isToShow">
                    <pre>Content: <br>{{breadcrumbs.value | json}}</pre>

                    <h6 class="slim-pagetitle">Dashboard 01</h6>
                </div>
                <!-- slim-pageheader -->
                <router-outlet></router-outlet>
            </div>
            <!-- container -->
        </div>
        <!-- slim-mainpanel -->
    </mat-sidenav-content>
</mat-sidenav-container>
<site-footer></site-footer>