<div class="signin-wrapper">

    <div class="signin-box">
      <h2 class="slim-logo"><a href="/"><img src="../assets/img/login-logo.png" title=""></a></h2>
      <h3 class="sign-title">Forget your password</h3>
        <form id="frmSignIn" data-parsley-validate>
            <div class="form-group">
                <input data-parsley-required-message="Please enter email" 
                data-parsley-type-message="Please enter proper email" type="email" 
                class="form-control" placeholder="Enter your email" required>
              </div><!-- form-group -->
              <button type="submit" class="btn btn-primary btn-block btn-signin">Get Password</button>
              <p class="mg-b-0">Know your password? <a [routerLink]="['/']">Sign In</a></p>
              <p class="mg-b-0">Don't have an account? <a [routerLink]="['/signup']">Sign Up</a></p>
        </form>
      
    </div><!-- signin-box -->

  </div><!-- signin-wrapper -->