<div class="row-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <button matStepperPrevious class="btn btn-sm btn-outline-primary btn-block mg-b-10">Previous</button>
            </div>
            <div class="col-md-8">
            </div>
            <div class="col-md-2">
                <button (click)="moveNext()" class="btn btn-sm btn-outline-primary btn-block mg-b-10">Next</button>
            </div>
        </div>
        <mat-sidenav-container class="example-container mat-drawer-container-inner">
            <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="tab-side-nav">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <h5 class="card-title tx-dark tx-medium mg-b-10">Clean Data</h5>
                        </div>
                        <div class="form-group">
                            <select class="form-control" placeholder="Select Column to clean">
                                <option value="Var">Var</option>
                                <option value="Sales">Sales</option>
                                <option value="Customer">Customer</option>
                                <option value="(Digital-Search-Billed)">(Digital-Search-Billed)</option>
                                <option value="(Digital-Search_Clicks)">(Digital-Search_Clicks)</option>
                                <option value="(Digital - Search - Impressions)">(Digital - Search - Impressions)</option>
                                <option value="(Digital - Search)">(Digital - Search)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="firstname" placeholder="Mode of cleaning">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="firstname" placeholder="Enter the value to be replaced">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="firstname" placeholder="Enter custom value">
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <button class="btn btn-primary btn-block mg-b-10">Clean</button>
                            </div>
                            <div class="form-grooup col-md-6">
                                <button class="btn btn-secondary btn-block mg-b-10">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-sidenav>
            <mat-sidenav-content>
                <button id="btnToggle" class="btn btn-secondary mg-t-10 tab-side-toggle-btn" (click)="sidenav.toggle()">
                    <i [ngClass]="{'fa':true,'fa-chevron-right':!opened,'fa-chevron-left':opened}" aria-hidden="true"></i>
                </button>

                <div class="table-wrapper">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tblCleanData" #tblCleanData class="table table-sm responsive nowrap">
                        <thead>
                            <tr>
                                <th>Var</th>
                                <th>Sales</th>
                                <th>Custsomers</th>
                                <th>(Digital-Search-Billed)</th>
                                <th>(Digital-Search_Clicks)</th>
                                <th>(Digital - Search - Impressions)</th>
                                <th>(Digital - Search)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tData of tableData">
                                <td>{{tData.var}}</td>
                                <td>
                                    <a href="javascript:void(0)" (click)="showSalesInfo(tData.var)">{{tData.sales}}</a>
                                </td>
                                <td>{{tData.customers}}</td>
                                <td>{{tData.digital_search_billed}}</td>
                                <td>{{tData.digital_search_clicks}}</td>
                                <td>{{tData.digital_search_impressions}}</td>
                                <td>{{tData.digital_Search}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>