<div class="row">
    <div class="col-md-3">
        <div  [@myAnimation] *ngIf="!propWindow" id="accordion" class="accordion-two accordion-two-primary" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                        class="tx-gray-800 transition collapsed">
                        Input / Output Layers
                    </a>
                </div>
                <!-- card-header -->

                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" style="">
                    <div class="card-body">
                        <ul class="list-group">
                            <li (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd($event)" [dragData]="LAYER_TYPES.INPUT" draggable class="list-group-item">
                                <p class="mg-b-0">
                                    <strong class="tx-inverse tx-medium">Input Layer</strong>
                                </p>
                            </li>
                            <li data-nodeTitle="Output" (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd($event)" [dragData]="LAYER_TYPES.OUTPUT"
                                draggable class="list-group-item">
                                <p class="mg-b-0">
                                    <strong class="tx-inverse tx-medium">Output Layer</strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                    <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        Core Layers
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body">
                        <ul class="list-group">
                            <li (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd($event)" [dragData]="LAYER_TYPES.ACTIVATION" draggable class="list-group-item">
                                <p class="mg-b-0">
                                    <strong class="tx-inverse tx-medium">Activation</strong>
                                </p>
                            </li>
                            <li (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd($event)" [dragData]="LAYER_TYPES.ACTIVATION_REGULARIZATION" draggable
                                class="list-group-item">
                                <p class="mg-b-0">
                                    <strong class="tx-inverse tx-medium">Activity Regularization</strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                        Convolutional Layers
                    </a>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-body">
                        <ul class="list-group">
                            <li (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd($event)" [dragData]="LAYER_TYPES.CONVOLUTIONAL_1D" draggable class="list-group-item">
                                <p class="mg-b-0">
                                    <strong class="tx-inverse tx-medium">Convolutional1D</strong>
                                </p>
                            </li>
                            <li (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd($event)" [dragData]="LAYER_TYPES.CONVOLUTIONAL_2D" draggable class="list-group-item">
                                <p class="mg-b-0">
                                    <strong class="tx-inverse tx-medium">Convolutional2D</strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- collapse -->
            </div>
            <!-- card -->
            <div class="card">
                <div class="card-header" role="tab" id="headingFour">
                    <a class="collapsed tx-gray-800 transition" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                        aria-controls="collapseFour">
                        Pooling Layers
                    </a>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="card-body">
                        <ul class="list-group">
                            <li (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd($event)" [dragData]="LAYER_TYPES.AVGPOLLING_1D" draggable class="list-group-item">
                                <p class="mg-b-0">
                                    <strong class="tx-inverse tx-medium">AvgPolling1D</strong>
                                </p>
                            </li>
                            <li (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd($event)" [dragData]="LAYER_TYPES.AVGPOLLING_2D" draggable class="list-group-item">
                                <p class="mg-b-0">
                                    <strong class="tx-inverse tx-medium">AvgPooling2D</strong>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- collapse -->
            </div>
            <!-- card -->
        </div>
        <div id="propertyWidnow" *ngIf="propWindow" [@myAnimation]>
            <div class="card bd-0">
                <div class="card-header tx-medium bd-0 tx-white bg-primary">
                    Properties
                    <i (click)="closePropWindow()" style="cursor: pointer; float: right;padding-top: 3px;" class="fa fa-close"></i>
                </div>
                <!-- card-header -->
                <div class="card-body bd bd-t-0">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Favorite food" value="Sushi">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Leave a comment"></textarea>
                        </mat-form-field>
                    </form>
                </div>
                <!-- card-body -->
            </div>

        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <mat-slider min="0" max="1" value="0.7" (input)="onZoomChange($event)" step="0.1" tickInterval="6" thumbLabel></mat-slider>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <d3ne (newNodeAdded)="nodeSelected($event)"></d3ne>
                <div droppable (onDrop)="onItemDrop($event)" [ngClass]="{'dropshadow': true, 'hide': hideDropLayer}">
                    <h2>Drop Layer Here</h2>
                </div>
            </div>
        </div>
    </div>
</div>