<div class="signin-wrapper">

    <div class="signin-box">
      <h2 class="slim-logo"><a href="/"><img src="../assets/img/login-logo@2x.png" width="185" title=""></a></h2>
      <!--<h2 class="signin-title-primary">Welcome back!</h2>-->
      <h3 class="sign-title">Login</h3>
        <form id="frmSignIn" data-parsley-validate>
            <div class="form-group">
                <input data-parsley-required-message="Please enter email" 
                data-parsley-type-message="Please enter proper email" type="email" 
                class="form-control" placeholder="Enter your email" required>
              </div><!-- form-group -->
              <div class="form-group mg-b-50">
                <input data-parsley-required-message="Please enter password" type="password" 
                class="form-control" placeholder="Enter your password" required>
              </div><!-- form-group -->
              <button type="submit" (click)="doLogin($event)" class="btn btn-primary btn-block btn-signin">Sign In</button>
              <p class="mg-b-0">Don't have an account? <a [routerLink]="['/signup']">Sign Up</a></p>
              <p class="mg-b-0">Forget your password? <a [routerLink]="['/forgetpassword']">Forget Password</a></p>
        </form>
      
    </div><!-- signin-box -->
    <p class="text-center copy-right">&copy; 2018 Softweb Machine Learning</p>

  </div><!-- signin-wrapper -->