.flow-editor {
  height: 500px;
}

.socket.number {
  background: #1b84e7;
  transition: all 0.4s ease;
}

.title .fa-times {
  float: right;
}

.context-menu {
  left: 0;
  top: 0;
  position: absolute;
  margin: 10px;
  margin-top: -20px;
  border: 1px solid;
  padding: 2px;
  box-shadow: 0px 0 10px 2px;
  transition: all 0.4s ease;
}

.context-menu>.item {
  padding-right: 16px;
}

.context-menu>.item .subitems {
  position: absolute;
  display: none;
  left: 100%;
  top: 0;
  overflow: overlay;
}

.context-menu>.item:hover .subitems {
  display: block;
}

.context-menu>.item.have-subitems:after {
  content: '►';
  position: absolute;
  opacity: 0.6;
  right: 5px;
  top: 5px;
}

.context-menu .search input {
  color: white;
  padding: 1px 8px;
  border: 1px solid white;
  font-size: 16px;
  font-family: serif;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
}

.context-menu .item {
  padding: 4px;
  color: #fff;
  background-color: rgb(27, 132, 231);;
  cursor: pointer;
  width: 100px;
  position: relative;
  transition: all 0.4s ease;
}

.context-menu .item:hover {
  background-color: #f8f8f8;
  color: rgb(27, 132, 231);
}

.node-editor {
  overflow: hidden;
  background: transparent;
  text-align: left;
}

.node-editor * {
  box-sizing: border-box;
}

.node-editor .node {
  cursor: pointer;
  width: 180px;
  height: auto;
  padding-bottom: 6px;
  box-sizing: content-box;
  position: absolute;
  user-select: none;
  transition: all 0.4s;
}

.node-editor .node .title {
  color: #f8f8f8;
  font-family: sans-serif;
  font-size: 26px;
  padding: 8px;
  text-align: center;
}

.node-editor .node .socket {
  display: inline-block;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 12px;
  width: 18px;
  height: 18px;
  margin: 6px;
  vertical-align: middle;
  z-index: 2;
}

.node-editor .node .socket:hover {
  border-width: 4px;
}

.node-editor .node .socket.multiple {
  border-color: yellow;
}

.node-editor .node .socket.output {
  margin: 0px auto;
  position: relative;
  left: 65px;
  top: -4px;
}

.node-editor .node .socket.input {
  margin-left: -12px;
  position: relative;
  top: -69px;
  left: 89px;
}

.node-editor .node .input-title, .node-editor .node .output-title {
  vertical-align: middle;
  color: white;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  margin: 6px;
  line-height: 24px;
}

.node-editor .node .input-control {
  z-index: 1;
  width: 144px;
  vertical-align: middle;
  display: inline-block;
}

.node-editor .node .control {
  padding: 6px 18px;
}

.node-editor .group {
  border-radius: 16px;
  background: rgba(15, 80, 255, 0.2);
  cursor: pointer;
  width: inherit;
  height: inherit;
  border: 6px solid transparent;
  position: absolute;
}

.node-editor .group.selected {
  border-color: #ffd92c;
}

.node-editor .group .group-title {
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  padding: 12px;
}

.node-editor .group .group-handler {
  background: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
}

.node-editor .group .group-handler.right.bottom {
  cursor: se-resize;
  right: -10px;
  bottom: -10px;
}

.node-editor .group .group-handler.left.top {
  cursor: nw-resize;
  left: -10px;
  top: -10px;
}

.node-editor .group .group-handler.right.top {
  cursor: ne-resize;
  right: -10px;
  top: -10px;
}

.node-editor .group .group-handler.left.bottom {
  cursor: sw-resize;
  left: -10px;
  bottom: -10px;
}

.node-editor .connections {
  position: absolute;
  overflow: visible;
  pointer-events: none;
}

.node-editor .connections .connection {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
  pointer-events: none;
}

.node-editor .connections .connection.selected {
  stroke: powderblue;
}

.node-editor select, .node-editor input {
  width: 100%;
  border-radius: 30px;
  background-color: white;
  padding: 2px 6px;
  border: 1px solid #999;
  font-size: 110%;
}

.context-menu .search {
  display: none
}

.flow-editor {
  border: 1px solid lightgray;
  background-image: url('/assets/img/gray block.png');
  background-repeat: repeat;
}

.node:before, .node:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow: 0 0 10px 0px rgb(10, 10, 10);
    -moz-box-shadow: 0 0 10px 0px rgb(10, 10, 10);
    box-shadow: 0 0 10px 0px rgb(10, 10, 10);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:0px;
    border-radius:0px;
    background-color: #1b84e7;
}
.node:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.node.selected:before, .node.selected:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:inset 0 0 10px 0px rgb(10, 10, 10);
    -moz-box-shadow:inset 0 0 10px 0px rgb(10, 10, 10);
    box-shadow:inset 0 0 10px 0px rgb(10, 10, 10);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:0px;
    border-radius:0px;
    background-color: #1b84e7;
}
.node.selected:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}