<div class="row">
    <div class="col-md-4">
        <label>Model Train :</label>
        <br>
        <mat-slider thumbLabel></mat-slider>
    </div>
    <div class="col-md-4">
        <label>Model Validation :</label>
        <br>
        <mat-slider thumbLabel></mat-slider>
    </div>
    <div class="col-md-4">
        <label>Model Test Split :</label>
        <br>
        <mat-slider thumbLabel></mat-slider>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <img src="/assets/data/images/adventure-calm-clouds-414171 - Copy (2).jpg" class="img-fluid img-thumbnail" alt="">
    </div>
    <div class="col-md-3">
        <img src="/assets/data/images/beach-boardwalk-boat-132037 - Copy.jpg" class="img-fluid img-thumbnail" alt="">
    </div>
    <div class="col-md-3">
        <img src="/assets/data/images/beach-exotic-holiday-248797.jpg" class="img-fluid img-thumbnail" alt="">
    </div>
    <div class="col-md-3">
        <img src="/assets/data/images/clouds-country-daylight-371633.jpg" class="img-fluid img-thumbnail" alt="">
    </div>
    <div class="col-md-3">
        <img src="/assets/data/images/beach-boardwalk-boat-132037 - Copy.jpg" class="img-fluid img-thumbnail" alt="">
    </div>
    <div class="col-md-3">
        <img src="/assets/data/images/beach-exotic-holiday-248797.jpg" class="img-fluid img-thumbnail" alt="">
    </div>
    <div class="col-md-3">
        <img src="/assets/data/images/beach-exotic-holiday-248797.jpg" class="img-fluid img-thumbnail" alt="">
    </div>
    <div class="col-md-3">
        <img src="/assets/data/images/beach-exotic-holiday-248797.jpg" class="img-fluid img-thumbnail" alt="">
    </div>
    <div class="col-md-3">
        <img src="/assets/data/images/clouds-country-daylight-371633.jpg" class="img-fluid img-thumbnail" alt="">
    </div>
</div>