<div class="mg-t-15">
    <mat-horizontal-stepper #datapreparationstepper [linear]="true">
        <mat-step label="Data Preparation">
            <form [formGroup]="dataConnectionForm" (ngSubmit)="dataConnectionForm.valid"
                novalidate>
                <!-- <pre>Content: <br>{{dataConnectionForm.value | json}}</pre> -->
                <div class="row">
                    <div class="form-group col-md-4">
                        <p>Connection Type</p>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" value="ftp" formControlName="connectionType" name="connectionType" id="rbtnFTP" class="custom-control-input">
                            <label class="custom-control-label" for="rbtnFTP">FTP</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" value="database" formControlName="connectionType" name="connectionType" id="rbtnDatabase" class="custom-control-input">
                            <label class="custom-control-label" for="rbtnDatabase">Database</label>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.FTP">
                    <div class="col-md-6">
                        <div class="form-group" formGroupName="ftp">
                            <label class="form-control-label">Connection Name:
                                <span class="tx-danger">*</span>
                            </label>
                            <input id="connectionname" formControlName="connectionName" class="form-control" name="firstname" placeholder="Enter connection name"
                                type="text" required>
                            <small *ngIf="(dataConnectionForm.controls.ftp.controls.connectionName.dirty || dataConnectionForm.controls.ftp.controls.connectionName.touched) &&  !dataConnectionForm.controls.ftp.controls.connectionName.valid"
                                class="text-danger">
                                Required.
                            </small>
                        </div>
                        <!-- form-group -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" formGroupName="ftp">
                            <label class="form-control-label">DataSource:
                                <span class="tx-danger">*</span>
                            </label>
                            <input id="datasource" class="form-control" name="lastname" placeholder="Enter datasource" formControlName="dataSource" type="text"
                                required>
                            <small *ngIf="(dataConnectionForm.controls.ftp.controls.dataSource.dirty || dataConnectionForm.controls.ftp.controls.dataSource.touched) &&  !dataConnectionForm.controls.ftp.controls.dataSource.valid"
                                class="text-danger">
                                Required.
                            </small>
                        </div>
                        <!-- form-group -->
                    </div>
                </div>
                <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.FTP">
                    <div class="col-md-6">
                        <div class="form-group" formGroupName="ftp">
                            <label class="form-control-label">Host Address:
                                <span class="tx-danger">*</span>
                            </label>
                            <input id="host" class="form-control" name="lastname" placeholder="Enter Host Address" formControlName="host" type="text"
                                required>
                            <small *ngIf="(dataConnectionForm.controls.ftp.controls.host.dirty || dataConnectionForm.controls.ftp.controls.host.touched) &&  !dataConnectionForm.controls.ftp.controls.host.valid"
                                class="text-danger">
                                Required.
                            </small>
                        </div>
                        <!-- form-group -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" formGroupName="ftp">
                            <label class="form-control-label">Port No:
                                <span class="tx-danger">*</span>
                            </label>
                            <input id="port" class="form-control" name="lastname" placeholder="Enter Port No" formControlName="port" type="text" required>
                            <small *ngIf="(dataConnectionForm.controls.ftp.controls.port.dirty || dataConnectionForm.controls.ftp.controls.port.touched) &&  !dataConnectionForm.controls.ftp.controls.port.valid"
                                class="text-danger">
                                Required.
                            </small>
                        </div>
                        <!-- form-group -->
                    </div>
                </div>
                <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.FTP">
                    <div class="col-md-6">
                        <div class="form-group" formGroupName="ftp">
                            <label class="form-control-label">User Name:
                                <span class="tx-danger">*</span>
                            </label>
                            <input id="username" class="form-control" name="lastname" formControlName="userName" placeholder="Enter Username" type="text"
                                required>
                            <small *ngIf="(dataConnectionForm.controls.ftp.controls.userName.dirty || dataConnectionForm.controls.ftp.controls.userName.touched) &&  !dataConnectionForm.controls.ftp.controls.userName.valid"
                                class="text-danger">
                                Required.
                            </small>
                        </div>
                        <!-- form-group -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" formGroupName="ftp">
                            <label class="form-control-label">Password:
                                <span class="tx-danger">*</span>
                            </label>
                            <input id="password" class="form-control" name="lastname" formControlName="passWord" placeholder="Enter Password" type="password"
                                required>
                            <small *ngIf="(dataConnectionForm.controls.ftp.controls.passWord.dirty || dataConnectionForm.controls.ftp.controls.passWord.touched) &&  !dataConnectionForm.controls.ftp.controls.passWord.valid"
                                class="text-danger">
                                Required.
                            </small>
                        </div>
                        <!-- form-group -->
                    </div>
                </div>
                <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.FTP">
                    <div class="col-md-6">
                        <div [ngClass]="{'form-group':true,'has-error':false}" formGroupName="ftp">
                            <label class="form-control-label">File Path:
                                <span class="tx-danger">*</span>
                            </label>
                            <input id="filepath" [ngClass]="{'form-control':true}" formControlName="file" placeholder="Select File" type="file" required>
                            <small *ngIf="(dataConnectionForm.controls.ftp.controls.file.dirty || dataConnectionForm.controls.ftp.controls.file.touched) &&  !dataConnectionForm.controls.ftp.controls.file.valid"
                                class="text-danger">
                                Required.
                            </small>
                        </div>
                        <!-- form-group -->
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.DATABASE">
                    <div class="col-md-6">
                        <div class="form-group" formGroupName="database">
                            <label class="form-control-label">Connection Name:
                                <span class="tx-danger">*</span>
                            </label>
                            <input id="connectionname" formControlName="connectionName" class="form-control" name="firstname" placeholder="Enter connection name"
                                type="text" required>
                            <small *ngIf="(dataConnectionForm.controls.database.controls.connectionName.dirty || dataConnectionForm.controls.database.controls.connectionName.touched) &&  !dataConnectionForm.controls.database.controls.connectionName.valid"
                                class="text-danger">
                                Required.
                            </small>
                        </div>
                        <!-- form-group -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" formGroupName="database">
                            <label class="form-control-label">DataSource:
                                <span class="tx-danger">*</span>
                            </label>
                            <input id="datasource" class="form-control" name="lastname" formControlName="dataSource" placeholder="Enter datasource" type="text"
                                required>
                            <small *ngIf="(dataConnectionForm.controls.database.controls.dataSource.dirty || dataConnectionForm.controls.database.controls.dataSource.touched) &&  !dataConnectionForm.controls.database.controls.dataSource.valid"
                                class="text-danger">
                                Required.
                            </small>
                        </div>
                        <!-- form-group -->
                    </div>
                </div>
                <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.DATABASE">
                    <div class="col-md-6">
                        <div class="form-group" formGroupName="database">
                            <label class="form-control-label">Database Type:
                                <span class="tx-danger">*</span>
                            </label>
                            <input id="databasetype" formControlName="databaseType" class="form-control" name="databasetype" placeholder="Enter Database Type"
                                type="text" required>
                            <small *ngIf="(dataConnectionForm.controls.database.controls.databaseType.dirty || dataConnectionForm.controls.database.controls.databaseType.touched) &&  !dataConnectionForm.controls.database.controls.databaseType.valid"
                                class="text-danger">
                                Required.
                            </small>
                        </div>
                        <!-- form-group -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" formGroupName="database">
                            <label class="form-control-label">Host Address:
                                <span class="tx-danger">*</span>
                            </label>
                            <input id="host" class="form-control" name="host" placeholder="Enter Host Address" type="text" required formControlName="host">
                            <small *ngIf="(dataConnectionForm.controls.database.controls.host.dirty || dataConnectionForm.controls.database.controls.host.touched) &&  !dataConnectionForm.controls.database.controls.host.valid"
                                class="text-danger">
                                Required.
                            </small>
                        </div>
                        <!-- form-group -->
                    </div>
                </div>
                <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.DATABASE">
                    <div class="col-md-6">
                        <div class="form-group" formGroupName="database">
                            <label class="form-control-label">Port No:
                                <span class="tx-danger">*</span>
                            </label>
                            <input id="port" formControlName="port" class="form-control" name="port" placeholder="Enter connection name" type="text"
                                required>
                            <small *ngIf="(dataConnectionForm.controls.database.controls.port.dirty || dataConnectionForm.controls.database.controls.port.touched) &&  !dataConnectionForm.controls.database.controls.port.valid"
                                class="text-danger">
                                Required.
                            </small>
                        </div>
                        <!-- form-group -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" formGroupName="database">
                            <label class="form-control-label">Database Name:
                                <span class="tx-danger">*</span>
                            </label>
                            <input id="databaseName" class="form-control" name="databaseName" formControlName="databaseName" placeholder="Enter datasource"
                                type="text" required>
                            <small *ngIf="(dataConnectionForm.controls.database.controls.databaseName.dirty || dataConnectionForm.controls.database.controls.databaseName.touched) &&  !dataConnectionForm.controls.database.controls.databaseName.valid"
                                class="text-danger">
                                Required.
                            </small>
                        </div>
                        <!-- form-group -->
                    </div>
                </div>
                <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.DATABASE">
                    <div class="col-md-6" formGroupName="database">
                        <div class="form-group">
                            <label class="form-control-label">Username:
                                <span class="tx-danger">*</span>
                            </label>
                            <input id="username" formControlName="userName" class="form-control" name="firstname" placeholder="Enter username" type="text"
                                required>
                            <small *ngIf="(dataConnectionForm.controls.database.controls.userName.dirty || dataConnectionForm.controls.database.controls.userName.touched) &&  !dataConnectionForm.controls.database.controls.userName.valid"
                                class="text-danger">
                                Required.
                            </small>
                        </div>
                        <!-- form-group -->
                    </div>
                    <div class="col-md-6" formGroupName="database">
                        <div class="form-group">
                            <label class="form-control-label">Password:
                                <span class="tx-danger">*</span>
                            </label>
                            <input id="password" class="form-control" name="password" formControlName="passWord" placeholder="Enter password" type="password"
                                required>
                            <small *ngIf="(dataConnectionForm.controls.database.controls.passWord.dirty || dataConnectionForm.controls.database.controls.passWord.touched) &&  !dataConnectionForm.controls.database.controls.passWord.valid"
                                class="text-danger">
                                Required.
                            </small>
                        </div>
                        <!-- form-group -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-outline-primary btn-block mg-b-10">Test Connection</button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" (click)="saveDataPreparation()" class="btn btn-outline-primary active btn-block mg-b-10">Save</button>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step label="Review Data">
            <router-outlet name="rdata"></router-outlet>
            <!-- <review-data></review-data> -->
        </mat-step>
        <mat-step label="Clean Data">
            <router-outlet name="cdata"></router-outlet>
            <!-- <clean-data></clean-data> -->
        </mat-step>
        <mat-step label="Prepared Data">
            <router-outlet name="pdata"></router-outlet>
            <!-- <prepared-data></prepared-data> -->
        </mat-step>
    </mat-horizontal-stepper>
</div>
<!-- section-wrapper -->