<br>
<br>
<div class="mg-t-5">
    <mat-horizontal-stepper #datapreparationstepper [linear]="true">
        <mat-step label="Data Preparation">
            <!-- <router-outlet></router-outlet>   -->
            <div class="row-fluid">
                <div class="col-md-12">
                    <form [formGroup]="dataConnectionForm" (ngSubmit)="dataConnectionForm.valid && submitRegistration(dataConnectionForm.value)"
                        novalidate>
                        <!-- <pre>Content: <br>{{dataConnectionForm.value | json}}</pre> -->
                        <div class="row">
                            <div class="form-group col-md-4">
                                <p>Connection Type</p>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="ftp" formControlName="connectionType" name="connectionType" id="rbtnFTP" class="custom-control-input">
                                    <label class="custom-control-label" for="rbtnFTP">FTP</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" value="database" formControlName="connectionType" name="connectionType" id="rbtnDatabase" class="custom-control-input">
                                    <label class="custom-control-label" for="rbtnDatabase">Database</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.FTP">
                            <div class="col-md-6">
                                <div class="form-group" formGroupName="ftp">
                                    <label class="form-control-label">Connection Name:
                                        <span class="tx-danger">*</span>
                                    </label>
                                    <input id="connectionname" formControlName="connectionName" class="form-control" name="firstname" placeholder="Enter connection name"
                                        type="text" required>
                                    <small *ngIf="dataConnectionForm.dirty && !dataConnectionForm.controls.ftp.controls.connectionName.valid" class="text-danger">
                                        Required.
                                    </small>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" formGroupName="ftp">
                                    <label class="form-control-label">DataSource:
                                        <span class="tx-danger">*</span>
                                    </label>
                                    <input id="datasource" class="form-control" name="lastname" placeholder="Enter datasource" formControlName="dataSource" type="text"
                                        required>
                                    <small *ngIf="dataConnectionForm.dirty && !dataConnectionForm.controls.ftp.controls.dataSource.valid" class="text-danger">
                                        Required.
                                    </small>
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.FTP">
                            <div class="col-md-6">
                                <div class="form-group" formGroupName="ftp">
                                    <label class="form-control-label">Host Address:
                                        <span class="tx-danger">*</span>
                                    </label>
                                    <input id="host" class="form-control" name="lastname" placeholder="Enter Host Address" formControlName="host" type="text"
                                        required>
                                    <small *ngIf="dataConnectionForm.dirty && !dataConnectionForm.controls.ftp.controls.host.valid" class="text-danger">
                                        Required.
                                    </small>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" formGroupName="ftp">
                                    <label class="form-control-label">Port No:
                                        <span class="tx-danger">*</span>
                                    </label>
                                    <input id="port" class="form-control" name="lastname" placeholder="Enter Port No" formControlName="port" type="text" required>
                                    <small *ngIf="dataConnectionForm.dirty && !dataConnectionForm.controls.ftp.controls.port.valid" class="text-danger">
                                        Required.
                                    </small>
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.FTP">
                            <div class="col-md-6">
                                <div class="form-group" formGroupName="ftp">
                                    <label class="form-control-label">User Name:
                                        <span class="tx-danger">*</span>
                                    </label>
                                    <input id="username" class="form-control" name="lastname" formControlName="userName" placeholder="Enter Username" type="text"
                                        required>
                                    <small *ngIf="dataConnectionForm.dirty && !dataConnectionForm.controls.ftp.controls.userName.valid" class="text-danger">
                                        Required.
                                    </small>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" formGroupName="ftp">
                                    <label class="form-control-label">Password:
                                        <span class="tx-danger">*</span>
                                    </label>
                                    <input id="password" class="form-control" name="lastname" formControlName="passWord" placeholder="Enter Password" type="password"
                                        required>
                                    <small *ngIf="dataConnectionForm.dirty && !dataConnectionForm.controls.ftp.controls.passWord.valid" class="text-danger">
                                        Required.
                                    </small>
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.FTP">
                            <div class="col-md-6">
                                <div [ngClass]="{'form-group':true,'has-error':dataConnectionForm.dirty && !dataConnectionForm.controls.ftp.controls.file.valid}"
                                    formGroupName="ftp">
                                    <label class="form-control-label">File Path:
                                        <span class="tx-danger">*</span>
                                    </label>
                                    <input id="filepath" [ngClass]="{'form-control':true}" formControlName="file" placeholder="Select File" type="file" required>
                                    <small *ngIf="dataConnectionForm.dirty && !dataConnectionForm.controls.ftp.controls.file.valid" class="text-danger">
                                        Required.
                                    </small>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.DATABASE">
                            <div class="col-md-6">
                                <div class="form-group" formGroupName="database">
                                    <label class="form-control-label">Connection Name:
                                        <span class="tx-danger">*</span>
                                    </label>
                                    <input id="connectionname" formControlName="connectionName" class="form-control" name="firstname" placeholder="Enter connection name"
                                        type="text" required>
                                    <small *ngIf="dataConnectionForm.dirty && !dataConnectionForm.controls.database.controls.connectionName.valid" class="text-danger">
                                        Required.
                                    </small>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" formGroupName="database">
                                    <label class="form-control-label">DataSource:
                                        <span class="tx-danger">*</span>
                                    </label>
                                    <input id="datasource" class="form-control" name="lastname" formControlName="dataSource" placeholder="Enter datasource" type="text"
                                        required>
                                    <small *ngIf="dataConnectionForm.dirty && !dataConnectionForm.controls.database.controls.dataSource.valid" class="text-danger">
                                        Required.
                                    </small>
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.DATABASE">
                            <div class="col-md-6">
                                <div class="form-group" formGroupName="database">
                                    <label class="form-control-label">Database Type:
                                        <span class="tx-danger">*</span>
                                    </label>
                                    <input id="databasetype" formControlName="databaseType" class="form-control" name="databasetype" placeholder="Enter Database Type"
                                        type="text" required>
                                    <small *ngIf="dataConnectionForm.dirty && !dataConnectionForm.controls.database.controls.databaseType.valid" class="text-danger">
                                        Required.
                                    </small>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" formGroupName="database">
                                    <label class="form-control-label">Host Address:
                                        <span class="tx-danger">*</span>
                                    </label>
                                    <input id="host" class="form-control" name="host" placeholder="Enter Host Address" type="text" required formControlName="host">
                                    <small *ngIf="dataConnectionForm.dirty && !dataConnectionForm.controls.database.controls.host.valid" class="text-danger">
                                        Required.
                                    </small>
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.DATABASE">
                            <div class="col-md-6">
                                <div class="form-group" formGroupName="database">
                                    <label class="form-control-label">Port No:
                                        <span class="tx-danger">*</span>
                                    </label>
                                    <input id="port" formControlName="port" class="form-control" name="port" placeholder="Enter connection name" type="text"
                                        required>
                                    <small *ngIf="dataConnectionForm.dirty && !dataConnectionForm.controls.database.controls.port.valid" class="text-danger">
                                        Required.
                                    </small>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" formGroupName="database">
                                    <label class="form-control-label">Database Name:
                                        <span class="tx-danger">*</span>
                                    </label>
                                    <input id="databaseName" class="form-control" name="databaseName" formControlName="databaseName" placeholder="Enter datasource"
                                        type="text" required>
                                    <small *ngIf="dataConnectionForm.dirty && !dataConnectionForm.controls.database.controls.databaseName.valid" class="text-danger">
                                        Required.
                                    </small>
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                        <div class="row" *ngIf="dataConnectionForm.controls.connectionType.value === CONNECTION_TYPE.DATABASE">
                            <div class="col-md-6" formGroupName="database">
                                <div class="form-group">
                                    <label class="form-control-label">Username:
                                        <span class="tx-danger">*</span>
                                    </label>
                                    <input id="username" formControlName="userName" class="form-control" name="firstname" placeholder="Enter username" type="text"
                                        required>
                                    <small *ngIf="dataConnectionForm.dirty && !dataConnectionForm.controls.database.controls.userName.valid" class="text-danger">
                                        Required.
                                    </small>
                                </div>
                                <!-- form-group -->
                            </div>
                            <div class="col-md-6" formGroupName="database">
                                <div class="form-group">
                                    <label class="form-control-label">Password:
                                        <span class="tx-danger">*</span>
                                    </label>
                                    <input id="password" class="form-control" name="password" formControlName="passWord" placeholder="Enter password" type="password"
                                        required>
                                    <small *ngIf="dataConnectionForm.dirty && !dataConnectionForm.controls.database.controls.passWord.valid" class="text-danger">
                                        Required.
                                    </small>
                                </div>
                                <!-- form-group -->
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-outline-primary btn-block mg-b-10">Test Connection</button>
                </div>
                <div class="col-md-2">
                    <button type="button" (click)="saveDataPreparation()" class="btn btn-outline-primary active btn-block mg-b-10">Save</button>
                </div>
            </div>
        </mat-step>
        <mat-step label="Review Data">
            <div class="row-fluid">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <button matStepperPrevious class="btn btn-sm btn-outline-primary btn-block mg-b-10">Previous</button>
                        </div>
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-2">
                            <button matStepperNext class="btn btn-sm btn-outline-primary btn-block mg-b-10">Next</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                    <div class="table-wrapper">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tblReviewData" class="table display responsive nowrap">
                            <thead>
                                <tr>
                                    <th>Var</th>
                                    <th>Sales</th>
                                    <th>Custsomers</th>
                                    <th>(Digital-Search-Billed)</th>
                                    <th>(Digital-Search_Clicks)</th>
                                    <th>(Digital - Search - Impressions)</th>
                                    <th>(Digital - Search)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tData of tableData">
                                    <td>{{tData.var}}</td>
                                    <td>
                                        <a href="javascript:void(0)" (click)="showSalesInfo(tData.var)">{{tData.sales}}</a>
                                    </td>
                                    <td>{{tData.customers}}</td>
                                    <td>{{tData.digital_search_billed}}</td>
                                    <td>{{tData.digital_search_clicks}}</td>
                                    <td>{{tData.digital_search_impressions}}</td>
                                    <td>{{tData.digital_Search}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </mat-step>
        <mat-step label="Clean Data">
            <div class="row-fluid">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <button matStepperPrevious class="btn btn-sm btn-outline-primary btn-block mg-b-10">Previous</button>
                        </div>
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-2">
                            <button matStepperNext class="btn btn-sm btn-outline-primary btn-block mg-b-10">Next</button>
                        </div>
                    </div>
                    <mat-sidenav-container class="example-container">
                        <mat-sidenav #sidenav mode="side" [(opened)]="opened" style="min-width: 200px !important;width: 85vw !important;max-width: 400px !important;">
                            <div class="row-fluid">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title tx-dark tx-medium mg-b-10">Clean Data</h5>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" name="firstname" placeholder="Select Column to clean">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" name="firstname" placeholder="Mode of cleaning">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" name="firstname" placeholder="Enter the value to be replaced">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" name="firstname" placeholder="Enter custom value">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <button class="btn btn-primary btn-block mg-b-10">Clean</button>
                                                        </div>
                                                        <div class="form-grooup col-md-6">
                                                            <button class="btn btn-secondary btn-block mg-b-10">Clear</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-sidenav>
                        <mat-sidenav-content>
                            <p>
                                <button id="btnToggle" class="btn btn-secondary btn-block mg-b-10" (click)="sidenav.toggle()">
                                    <i [ngClass]="{'fa':true,'fa-chevron-right':!opened,'fa-chevron-left':opened}" aria-hidden="true"></i>
                                </button>
                            </p>
                            <div class="table-wrapper">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tblReviewData" class="table table-sm responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th>Var</th>
                                            <th>Sales</th>
                                            <th>Custsomers</th>
                                            <th>(Digital-Search-Billed)</th>
                                            <th>(Digital-Search_Clicks)</th>
                                            <th>(Digital - Search - Impressions)</th>
                                            <th>(Digital - Search)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let tData of tableData">
                                            <td>{{tData.var}}</td>
                                            <td>
                                                <a href="javascript:void(0)" (click)="showSalesInfo(tData.var)">{{tData.sales}}</a>
                                            </td>
                                            <td>{{tData.customers}}</td>
                                            <td>{{tData.digital_search_billed}}</td>
                                            <td>{{tData.digital_search_clicks}}</td>
                                            <td>{{tData.digital_search_impressions}}</td>
                                            <td>{{tData.digital_Search}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </mat-sidenav-content>
                    </mat-sidenav-container>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
        <mat-step label="Prepared Data">
            <div class="row-fluid">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-2">
                            <button matStepperPrevious class="btn btn-sm btn-outline-primary btn-block mg-b-10">Previous</button>
                        </div>
                        <div class="col-md-10">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">&nbsp;</div>
                    </div>
                    <div class="table-wrapper">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="tblReviewData" class="table display responsive nowrap">
                            <thead>
                                <tr>
                                    <th>Var</th>
                                    <th>Sales</th>
                                    <th>Custsomers</th>
                                    <th>(Digital-Search-Billed)</th>
                                    <th>(Digital-Search_Clicks)</th>
                                    <th>(Digital - Search - Impressions)</th>
                                    <th>(Digital - Search)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tData of tableData">
                                    <td>{{tData.var}}</td>
                                    <td>
                                        <a href="javascript:void(0)" (click)="showSalesInfo(tData.var)">{{tData.sales}}</a>
                                    </td>
                                    <td>{{tData.customers}}</td>
                                    <td>{{tData.digital_search_billed}}</td>
                                    <td>{{tData.digital_search_clicks}}</td>
                                    <td>{{tData.digital_search_impressions}}</td>
                                    <td>{{tData.digital_Search}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
<!-- section-wrapper -->