<div mat-dialog-title>
    SALES
    <i (click)="onCancelClick()" class="fa fa-times-circle" aria-hidden="true" style="cursor:pointer; float:right; margin-top: 5px; width: 20px"></i>
</div>
<div mat-dialog-content>
        <mat-tab-group (selectedTabChange)="onTabChange($event)">
                <mat-tab label="Statistics">
                      <!-- <pre>Content: <br>{{data.sales_info | json}}</pre> -->
                    <div class="row-fluid">
                        <div class="col-md-12">
                                <div class="row">
                                        <div class="col-md-4">Mean</div>
                                        <div class="col-md-8">: {{data.sales_info.mean}}</div>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-4">Median</div>
                                            <div class="col-md-8">: {{data.sales_info.median}}</div>
                                        </div>
                                    <div class="row">
                                            <div class="col-md-4">Min</div>
                                            <div class="col-md-8">: {{data.sales_info.min}}</div>
                                        </div>
                                    <div class="row">
                                            <div class="col-md-4">Max</div>
                                            <div class="col-md-8">: {{data.sales_info.max}}</div>
                                        </div>
                                    <div class="row">
                                            <div class="col-md-4">Standard Deviation</div>
                                            <div class="col-md-8">: {{data.sales_info.std_deviation}}</div>
                                        </div>
                                    <div class="row">
                                            <div class="col-md-4">Unique Value</div>
                                            <div class="col-md-8">: {{data.sales_info.unique_value}}</div>
                                        </div>
                                    <div class="row">
                                            <div class="col-md-4">Missing Value</div>
                                            <div class="col-md-8">: {{data.sales_info.missing_value}}</div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-4">Feature Type</div>
                                                <div class="col-md-8">: {{data.sales_info.feature_type}}</div>
                                            </div>
                        </div>
                    </div>
                        
                </mat-tab>
                <mat-tab label="Graph">
                    <div class="row-fluid">
                        <div class="col-md-12">
                                <canvas id="myChart" width="900" height="500"></canvas>
                        </div>
                    </div>
                    
                </mat-tab>
              </mat-tab-group>
</div>