<div class="signin-wrapper">

    <div class="signin-box">
      <h2 class="slim-logo"><a href="/"><img src="../assets/img/login-logo.png" title=""></a></h2>
      <h3 class="sign-title">Signup</h3>
        <form id="frmSignUp" data-parsley-validate>
            <div class="form-group">
                <input data-parsley-required-message="Please enter Name" type="text" 
                class="form-control" placeholder="Enter your email" required>
              </div><!-- form-group -->
              <div class="form-group">
                <input data-parsley-required-message="Please enter Phone No" type="text" 
                class="form-control" placeholder="Enter your Phone No" required>
              </div><!-- form-group -->
              <div class="form-group">
                <input data-parsley-required-message="Please enter Password" type="password" 
                class="form-control" placeholder="Enter your password" required>
              </div><!-- form-group -->
              <div class="form-group">
                <input data-parsley-required-message="Please enter Password Again" type="password" 
                class="form-control" placeholder="Confirm Password" required>
              </div><!-- form-group -->
              <button type="submit" class="btn btn-primary btn-block btn-signin">Sign Up</button>
              <p class="mg-b-0">Already have an Account? <a [routerLink]="['/']">Sign In</a></p>
              <p class="mg-b-0">Forget your password? <a [routerLink]="['/forgetpassword']">Forget Password</a></p>
        </form>
      
    </div><!-- signin-box -->
    <p class="text-center copy-right">&copy; 2018 Softweb Machine Learning</p>
  </div><!-- signin-wrapper -->